*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.instagram-page{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagram-left{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 50%;
}

.instagram-left img{
  height: 50rem;
}

.instagram-login{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgrey;
}

.box:nth-child(1){
  min-width: 19rem;
}

.instagram-logo{
  height: 3rem;
}

.profile-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 3% 0;
}

.profile-photo img{
  height: 6rem;
}

.button{
  background-color: #0095f6;
  color: white;
  border-radius: 4px;
  padding: 8px;
}

.link-blue{
  color: #0095f6;
  margin-top: 1rem;
}

.get-the-app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1.3rem 0;
}

.grey-text{
  color: grey;
}

.download{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.app-download{
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1){
  background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2){
  background-image: url('./img/googleplay-button.png');
}